.title {
  font-family: 'Roboto', sans-serif;
}
.body {
  margin: 0;
}
.header {
  display: flex;

  justify-content: space-between;
}
.wrapper {
  margin: auto;

  width: 80%;
}
.logo,.menu {
  Display: inline-block;
}
.menu__item {
  padding: 0 13px;
}
. "wrapper"{
  margin: auto;

  width: 80%;
}
.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
}
.logo__circle {

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity:0.7;
}
.logo__circle_color_blue {

  left: 8px;
  top: 56%;
  background: #c8dbfb;
}
.logo__circle_color_dark-blue {
  
  background: #0056ec;

}
.menu {
  display: flex;

  align-items: center;
}
.menu__item:last-child {
  padding-right: 0;
}
.main-content__title {
  padding-top: 246px;
}
